/* -- Main Stylesheet -- */

/* -- Initial Styles -- */

html {
    font-size: 100%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0px; 
    padding: 0px;
    touch-action: manipulation;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.section {
    padding: 100px 0 50px;
    border-bottom: 1px solid #ddd;
}

.section .heading:before {
    content:'';
    height: 10px;
    width: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    background: #2b5de7;
}

.section .heading {
    margin-bottom: 60px;
}


a {
    color: inherit;
}

.icon-link {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    line-height: 1; 
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;   
}

ul {
    padding-left: 0px
}

li {
    list-style: none;
    display: inline-block;
}

.icon {
    font-size: 1.1em;
    display: inline-block;
    line-height: inherit;
}

/* -- Section A -- */

.profile-section:before {
    content:'';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
}

.profile-section {
    padding: 50px 0;
    position: relative;
    background-size: cover; 
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
}

/* -- Profile Info -- */

.profile {
    color: #fff;
}

.profile .profile-img {
    max-width: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.profile .information > li { 
    display: block;
    margin: 5px 0;
}

.profile .social-icons > li > a {
    font-size: 35px;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-radius: 20px; 
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 0 5px 5px;
    text-align: center;
    color: #fff;
}

.profile .downlad-btn {
    padding: 15px 25px;
    border-radius: 5px;
    background: #2b5de7;
    color: #fff;
}

.profile-section .section-card {
    color:white;
    background-color: #2b5de7;
    margin: 10px 40px;
    padding: 20px 0;
    border-radius: 10px;
  }

  .section-card .fa {
    font-size: 32px;
    color:white;
  }

  .card-text {
    margin: 10px 20px;
  }

.profile-section .info .icon {
    float: left;
    font-size: 20px;
}


/* -- About Section -- */
	
.counter .title {
    color: #2b5de7;
}

/* -- Education Section -- */

@media screen and (min-width: 1025px) {
    .education-wrapper {
        position: relative;
    }
    
    .education-wrapper:after {
        content:'';
        position: absolute;
        top: 8px;
        bottom: 0;
        left: -51px;
        width: 2px;
        background: #ccc;
    }
    
    .education-wrapper .education{
        position: relative;
    }
    
    .education-wrapper .education:after{
        content:'';
        position: absolute;
        top: 8px;
        left: -58px;
        width: 16px; 
        height: 16px;
        border-radius: 10px;
        z-index: 1;
        box-shadow: 0 0 0 8px #b8cbff;
        background: #2b5de7;
    }
  }


/* Quote Section */

.quote-section {
    padding: 20px 0;
    position: relative;
    background-size: cover; 
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.quote-section:before {
    content:'';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
}
	
.quote-section .icon {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px; width: 40px;
    line-height: 40px; 
    border-radius: 30px;
    background: #2b5de7;
    color: #fff;
}

/* Skills Section */

.skills-section .expert {
    margin-top: 10px;
    display: inline-block;
    padding: 1px 25px 0;
    border-radius: 5px;
    background: #2b5de7;
    color: #fff;
}

.skills-section .moderate {
    margin-top: 10px;
    display: inline-block;
    padding: 1px 25px 0;
    border-radius: 5px;
    background: #4ca80e;
    color: #fff;
}

/* Languages Section */

.languages-section .expert {
    margin-top: 10px;
    display: inline-block;
    padding: 1px 25px 0;
    border-radius: 5px;
    background: #2b5de7;
    color: #fff;
}

.a-text {
    text-decoration: underline;
}
.a-text:hover {
    text-decoration: none;
    color: gray;
}
.card {
    border: none;
}

.crop-text-4 {
    -webkit-line-clamp: 4;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

.footer {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 0px;
    color: #fff;
    background: #2b5de7;
}





	



